.git/**
.vscode-test/**
node_modules/**
internal/**
cmd/**
client/**
scripts/**
test/**
go.*
tsconfig.json
biome.json
.gitignore
package-lock.json
dist/test.cjs
bin/**
!bin/darwin-*/zsh-language-server
!bin/linux-*/zsh-language-server
*.vsix
